<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Aviators - Main{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/result.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/all.min.css' %}">
	<link rel="icon" href="{% static 'main/img/icon.png' %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<script src="{% static 'chat/js/chat.js' %}"></script>

	<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
	<script src="https://js.stripe.com/v3/"></script>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

</head>
<body onload="begin()">
	<div class="container-fluid p-0">
		<nav id="navbar">
			<div id="brand" class="menu-item">
				<a href="{% url 'main:index' %}">Aviators</a>
			</div>
			<div class="menu-item text-right" id="right-menu">
				{% if user.is_authenticated %}
				<a href="{% url 'main:dashboard' %}" class="menu-btn">Dashboard <span class="fas fa-clipboard-list"></span></a>
				<a href="{% url 'user:profile' %}" class="menu-btn"><span class="fas fa-user-circle"></span></a>
				<a href="{% url 'model:modelupload' %}" class="menu-btn"><span class="fas fa-upload"></span></a>
				<a href="{% url 'user:user_cart' %}" class="menu-btn"><span class="fas fa-shopping-cart"></span><small>{{request.user.author.cart|length}}</small></a>
				{% else %}
				<a href="{% url 'user:loginform' %}" class="menu-btn">Sign In</a>
				<a href="{% url 'user:registration' %}" class="menu-btn">Sign Up</a>
				{% endif %}
			</div>
		</nav>

		{% block catnav %}{% endblock %}

		<div id="main">
			{% block content %}
				<div id="starting-screen">
					<div class="slider">
						<div class="slider-inner">
							<div class="slider-item" style="font-size: 2vh;">
								<div class="slider-img-holder">
									{% load static %}
									<img src="{% static 'main/img/yoda.jpg' %}" class="w-100 h-100">
								</div>
								<div class="slider-text-holder" style="background: linear-gradient(to right bottom, #255566, #5bc489)">
									<h4>Some Super Title</h4>
									<font size="3"><i>by Author</i></font>
									<ul class="slider-stars">
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
									</ul>
									<p class="mt-3">Lorem ipsum dolor sit amet, fugiat tempori Lorem ipsum dolor sit amet, fugiat tempori</p>
									<button class="slider-item-btn">Show</button>
								</div>
							</div>
							<div class="slider-item">
								<div class="slider-img-holder">
									{% load static %}
									<img src="{% static 'main/img/yoda.jpg' %}" class="w-100 h-100">
								</div>
								<div class="slider-text-holder" style="background: linear-gradient(to right bottom, #8b35f4, #f36cd5);">
									<h4>Some Super Title</h4>
									<font size="3"><i>by Author</i></font>
									<ul class="slider-stars">
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
									</ul>
									<p class="mt-3">Lorem ipsum dolor sit amet, fugiat tempori</p>
									<button class="slider-item-btn">Show</button>
								</div>
							</div>
							<div class="slider-item">
								<div class="slider-img-holder">
									{% load static %}
									<img src="{% static 'main/img/yoda.jpg' %}" class="w-100 h-100">
								</div>
								<div class="slider-text-holder" style="background: linear-gradient(to right bottom, #00d0d9, #0084fa);">
									<h4>Some Super Title</h4>
									<font size="3"><i>by Author</i></font>
									<ul class="slider-stars">
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
									</ul>
									<p class="mt-3">Lorem ipsum dolor sit amet, fugiat tempori</p>
									<button class="slider-item-btn">Show</button>
								</div>
							</div>
							<div class="slider-item">
								<div class="slider-img-holder">
									{% load static %}
									<img src="{% static 'main/img/yoda.jpg' %}" class="w-100 h-100">
								</div>
								<div class="slider-text-holder" style="background: linear-gradient(to right bottom, #ff635d, #d2774c);">
									<h4>Some Super Title</h4>
									<font size="3"><i>by Author</i></font>
									<ul class="slider-stars">
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
										<li><span class="fas fa-star"></span></li>
									</ul>
									<p class="mt-3">Lorem ipsum dolor sit amet, fugiat tempori</p>
									<button class="slider-item-btn">Show</button>
								</div>
							</div>
						</div>
					</div>
					<a href="javascript:(void)" class="slider-controller" style="float: left;" onclick="slide('left')"><span class="fas fa-angle-left"></span></a>
					<a href="javascript:(void)" class="slider-controller" style="float: right;" onclick="slide('right')"><span class="fas fa-angle-right"></span></a>
				</div>


				<div class="container p-0" style="margin-top: 20vh; overflow: hidden;">
					<div class="row m-0" style="min-height: 70vh">
						<div class="col-md-6">
							<div class="text-center p-5">
								<h3 align="center">Model of the day!</h3>
								<p class="mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, eius, aspernatur repellat numquam saepe fugiat, cumque eaque nostrum laborum, provident assumenda sunt ea culpa et ipsam vero atque voluptatem doloribus.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, eius, aspernatur repellat numquam saepe fugiat.</p>
								<button class="model-view-btn">Download</button>
							</div>
						</div>
						<div class="col-md-6 p-0 m-0">
							<div class="model-holder">
								<model-viewer class="main-page-model" src='{% static "main/models/Pagoda.gltf" %}' auto-rotate camera-controls touch-action id=''></model-viewer>
							</div>
						</div>
					</div>
				</div>


				<div class="container-fluid" style="margin-top: 20vh;">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class="soft-font">Start Here</h1>
							<form action="{% url 'engine:searchengine' %}" method="get">
								{% csrf_token %}
								<div class="search-box-wrapper">
									<input type="text" name="query" class="search-field" placeholder="Find your model ...">
									<input type="hidden" name="type" value="byname">
									<button class="search-btn" type="submit"><span class="fas fa-search"></span></button>
								</div>
							</form>
						</div>
					</div>

					<div class="row mt-4">
						{% for cat in categories %}
							<div class="col-md-3 p-5">
								<div class="cards-category">
									<img src="/{{cat.img}}" class="img-fluid h-100 w-100">
									<div class="cards-text text-center text-light">
										<h4><a href="{% url 'engine:searchengine' %}?query={{cat.name}}&type=category">{{cat.name}}</a></h4>
										<small>{{cat.amount}} Models</small>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endblock %}
		</div>

		<div id="footer" class="text-light">
			<div class="container-fluid p-0">
				<div class="row">
					<div class="col-md-6">
						<h3>Brand</h3>
						<ul class="social-links-menu">
							<li class="social-links"><a href="javascript:(void)"><span class="fab fa-facebook"></span></a></li>
							<li class="social-links"><a href="javascript:(void)"><span class="fab fa-instagram"></span></a></li>
							<li class="social-links"><a href="javascript:(void)"><span class="fab fa-telegram"></span></a></li>
							<li class="social-links"><a href="javascript:(void)"><span class="fab fa-twitter"></span></a></li>
						</ul>
						&copy; All rights reserved. Copyright.
					</div>
					<div class="col-md-3">
						<h4>Policies</h4>
						<ul class="footer-menu">
							<li class="footer-menu-item">Privacy & Policy</li>
							<li class="footer-menu-item">Cookies Policy</li>
							<li class="footer-menu-item">User Policy</li>
						</ul>
						<h4>Downloads</h4>
						<ul class="footer-menu">
							<li class="footer-menu-item">Link</li>
							<li class="footer-menu-item">Link</li>
							<li class="footer-menu-item">Link</li>
						</ul>
					</div>
					<div class="col-md-3">
						<h4>Links</h4>
						<ul class="footer-menu">
							<li class="footer-menu-item">Home</li>
							<li class="footer-menu-item">Blog</li>
							<li class="footer-menu-item">FAQ</li>
							<li class="footer-menu-item">User agreement</li>
							<li class="footer-menu-item">Contact</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>

{% load static %}
<script src="{% static 'main/js/script.js' %}"></script>
<script src="{% static 'main/js/all.min.js' %}"></script>