{% extends 'main/index.html' %}

{% block title %}{{model.model_name}}{% endblock %}

{% load filters %}
{% load model_filters %}

{% block content %}
	<div class="container mt-3" onload="modelViewImg(document.querySelector('.modelview-img-holder'))">
		<div class="row">
			<div class="col-md-12">
				<a href="{{referer}}"><span class="fad fa-arrow-left"></span> Back</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 p-5">
				<div class="modelview-img-holder">
					{% for image in model|model_images %}
					<img src="{{image.file.url}}" alt="{{model.model_name}}" class="w-100 h-100 img-fluid">
					{% endfor %}
				</div>
			</div>
			<div class="col-md-6 p-5">
				<h3>{{model.model_name}}</h3>
				<p>{{model.model_desc}}</p><br>
				<p>Author: <a href="{% url 'engine:stranger' model.model_author %}"><b>{{model.model_author}}</b></a></p>
				<p>Tool used: <b>{{model.model_tool}}</b></p>
				<p>Price: <b>{{model.model_price|viewFree}}</b></p><br>
				<p>Tags:</p>
				{% for tag in model.model_tags %}
					<span class="badge badge-pill badge-dark">{{tag}}</span>
				{% endfor %}
				<br><br>
				<small><span class="fad fa-eye"></span> {{model.model_views}}</small>
				<small><span class="fad fa-heart"></span> {{model.model_favs}}</small>
				<hr>
				<a class="modelview-btn" href="{% url 'engine:addto' %}?model_id={{model.id}}&to=favs">Add to Favorites <span class="fad fa-heart"></span></a>
				<a class="modelview-btn" href="{% url 'engine:addto' %}?model_id={{model.id}}&to=cart">Add to Cart <span class="fad fa-shopping-cart"></span></a>
				{% if model|modelDownload %}
					<a class="modelview-btn" href="{% url 'model:download' model.model_link %}">Download <span class="fad fa-download"></span></a>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}