{% extends 'main/index.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 align="center"><a href="{% url 'main:index' %}">3dFixed</a></h3><br>
				{% if error %}
					<div class="login-error text-center">
						<p>{{error}}</p>
					</div>
				{% endif %}
				<div class="login-section">
					<form action="{% url 'user:loginUser' %}" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="#username">Username</label>
							<input type="text" name="username" id="username" class="form-control" placeholder="Eminem">
						</div>
						<div class="form-group">
							<label for="#pass">Password</label>
							<input type="password" name="pass" id="pass" class="form-control" placeholder="******">
						</div>
						<div class="form-group">
							<label><a href="{% url 'user:loginform' %}"><small>Don`t remember?</small></a></label>
							<button type="submit" class="form-control btn btn-success">Sign In</button>
						</div>
						<hr>
						<div class="form-group">
							<a href="{% url 'user:registration' %}" class="btn btn-outline-primary form-control">Create Account</a>
						</div>
					</form>
				</div>
				<div class="login-footer text-center">
					<ul style="list-style: none; padding: 0; margin: 0;">
						<li><a href=""><small>Terms & Conditions</small></a></li>
						<li><a href=""><small>Privacy</small></a></li>
						<li><a href=""><small>Policy</small></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}