{% extends 'main/index.html' %}

{% block title %}Aviators - {{user}}'s {{type}}{% endblock %}

{% block content %}

	<div class="container-fluid">
		{% if message.message %}
			<div class="row">
				<div class="col-md-12">
					<div class="profile-message {{message.type}}" onclick="hideMessage(this)">
						<p>{{message.message}}</p>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-4 pl-5 pr-5">
				<div class="profile-bar text-center">
					<div class="bar-img-holder mb-4">
						{% load static %}
						<img src="/{{request.user.author.avatar}}" class="w-100 h-100">
					</div>

					<p>{{user.author.bio}}</p>
				</div>
			</div>
			<div class="col-md-8 p-0">
				<div class="bar-text-holder">
					<h2>
						{{user.username}}
						{% if request.user.author.vipstatus %}
							<small><span class="text-warning fas fa-crown"></span></small>
						{% endif %}
					</h2>
					<p><small><a href="{% url 'user:userCoins' %}">Coins {{ user.author.coins|length }}</a></small></p>
					<hr>
					<div class="row">
						<div class="col-md-6 mb-2" style="border-right: 1px solid #ced4da;">
							<p><span class="fas fa-id-card"></span> {{user.first_name}} {{user.last_name}}</p>
							<p><span class="fas fa-map-marker-alt"></span> {{user.author.location}}</p>
							<p><span class="fas fa-envelope"></span> {{user.email}}</p>
							<p><span class="fas fa-credit-card"></span> {{user.author.credit}}</p>
						</div>
						<div class="col-md-6 mb-2">
							<p><span class="fas fa-tools"></span> {{user.author.favtool}}</p>
							<p><span class="fas fa-venus-mars"></span> {{user.author.gender}}</p>
							<p><span class="fas fa-link"></span> <a href="{{user.author.website}}">Link</a></p>
							<p><span class="fas fa-phone"></span>  {{user.author.phone}}</p>
						</div>
					</div>
					<a href="{% url 'user:user_logout' %}" class="profile-button profile-button-lo"><small><b>Logout</b></small></a>
					{% if request.user.author.vipstatus == False %}
						<a href="{% url 'payment:showvip' %}" class="profile-button-vip"><small><b>Buy </b> <span class="fas fa-crown"></span></small></a>
					{% endif %}
					<a href="{% url 'user:user_settings' 'General' %}" class="profile-button"><small>Edit <span class="fas fa-edit"></span></small></a>
				</div>
			</div>
		</div>


		<div class="row mt-3">
			<div class="col-md-12 pr-5 pl-5">
				<div class="profile-bar">
					<div class="bar-btn-holder">
						<div class="text-center" style="width: 20%; display: inline-block; float: left;">
							<a href="{% url 'user:user_settings' 'General' %}?section=Genral"><span class="fas fa-cog"></span></a>
							<p>Settings</p>
						</div>
						<div class="text-center" style="width: 20%; display: inline-block; float: left;">
							<a href="{% url 'user:profile' %}"><span class="fas fa-folder"></span></a>
							<p>Your Models</p>
						</div>
						<div class="text-center" style="width: 20%; display: inline-block; float: left;">
							<a href="{% url 'user:user_favs' %}"><span class="fas fa-heart"></span></a>
							<p>Favourites</p>
						</div>
						<div class="text-center" style="width: 20%; display: inline-block; float: left;">
							<a href="{% url 'user:user_cart' %}"><span class="fas fa-shopping-cart"></span></a>
							<p>Cart</p>
						</div>
						<div class="text-center" style="width: 20%; display: inline-block; float: left;">
							<a href="{% url 'user:user_archive' %}"><span class="fas fa-archive"></span></a>
							<p>Archive</p>
						</div>
					</div>

					<h3 style="margin-top: 15vh;">Your {{type}}:</h3>
					<hr>
					<div class="user-models-wrapper">

						{% if type == 'cart' and modelset %}
							<div class="row">
								<div class="col-md-12 text-right">
									<a href="{% url 'payment:showcart' %}" class="profile-button">Purchase <span class="fas fa-wallet"></span></a>
								</div>
							</div>
						{% endif %}

						<div class="row mt-3">
							{% if modelset %}
								{% for model in modelset %}
									<div class="col-md-3 mt-3">
										<div class="model-card">
											<div class="model-image">
												{% load static %}
												<img src="{{model.model_image.url}}" class="img-fluid w-100 h-100">
											</div>
											<div class="model-desc p-3">
												<p style="margin: 0;">{{model.model_name}}</p>
												<small>{{model.model_author}}</small><br><br>
												<small style="float: left;"><b>{{model.model_price}}$</b></small>
												<div style="float: right">
													{% if type == 'favourites' %}
														<a href="{% url 'engine:removefrom' %}?model_id={{model.id}}&from=favs"><span class="fas fa-trash-alt"></span></a>
														<a href="{% url 'engine:addto' %}?model_id={{model.id}}&to=cart"><span class="fas fa-shopping-cart"></span></a>
													{% elif type == 'cart' %}
														<a href="{% url 'engine:removefrom' %}?model_id={{model.id}}&from=cart"><span class="fas fa-trash-alt"></span></a>
													{% elif type == 'archive' %}
														<a href="{% url 'model:download' model.model_link %}"><span class="fas fa-download"></span></a>
													{% else %}
														<a href="{% url 'model:delete' model.id %}"><span class="fas fa-trash-alt"></span></a>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<div class="col-md-12">
									<p>You don't have any models yet, <a href="{% url 'model:modelupload' %}">Upload model</a></p>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}